.page {
  max-width: 400px;
  margin: auto;
}
.modal {
  position: fixed;
  top: 20%;
  left: 30%;
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

th {
  background: #f9fafb;
  font-weight: 600;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
}

tr:hover {
  background: #f3f4f6;
}
